* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-inner .carousel-item img {
  /* height: 70vh; */
  height: calc(100vh - 56px);
}

.navbar-brand img {
  width: 100%;
  /* mix-blend-mode: lighten; */
}
/* 1366*569 */
.hero-section {
  background-image: url(../img/main-hero-img-1.jpg);
  height: calc(100vh - 68px);
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero-section .hero-text-box h1 {
    color: #FFF;
}
